<div>
  <label>Name: </label>
  <input #name><br>

  <label>Description:</label>
  <input #description><br>

  <label>Genre:</label>
  <input #genre><br>
</div>

<div>
  <button (click)="save(name.value,description.value,genre.value)">Save
  </button>
</div>

