<div *ngIf="selectedRent">
  <h2>
    {{selectedRent.clientId | uppercase}} was selected
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>

<h2>Rentals</h2>
<ol class="rent">
  <li *ngFor="let rent of rents "
      [class.selected]="rent === selectedRent"
      (click)="onSelect(rent)">
    {{"Client id: "+rent.clientId + ", Movie id: " + rent.movieId + "- Rented date: " + rent.startdate + "->" + rent.duedate}}
  </li>
</ol>
