<div *ngIf="selectedMovie">
  <h2>
    {{selectedMovie.movieName | uppercase}} was selected
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>

<h2>Movies</h2>
<ol class="rent">
  <li *ngFor="let movie of movies "
      [class.selected]="movie === selectedMovie"
      (click)="onSelect(movie)">
    {{movie.movieName + " - Description: " + movie.description + ", Genre: " + movie.genre}}
  </li>
</ol>
