<div>
  <label>Client id: </label>
  <input #clientId><br>

  <label>Movie id:</label>
  <input #movieId><br>

  <label>Rented date:</label>
  <input #renteddate><br>

  <label>Due date:</label>
  <input #duedate><br>
</div>

<div>
  <button (click)="save(clientId.value,movieId.value,renteddate.value,duedate.value)">Save
  </button>
</div>

