<div *ngIf="rent">
    <h2>Rental {{rent.clientId}} details</h2>
    <div>
        <label>Client id: </label> {{rent.clientId}}
        <input [(ngModel)]="rent.clientId" placeholder="clientid">
    </div>
  <div>
    <label>Movie id: </label> {{rent.movieId}}
    <input [(ngModel)]="rent.movieId" placeholder="movieid">
  </div>
    <div>
        <label>Rented date: </label> {{rent.startdate}}
        <input [(ngModel)]="rent.startdate" placeholder="startdate">
    </div>
    <div>
        <label>Due date: </label> {{rent.duedate}}
        <input [(ngModel)]="rent.duedate" placeholder="duedate">
    </div>
    <button (click)="goBack()">Back</button>
    <button (click)="save()">Save</button>
    <button (click)="delete()">Delete</button>
</div>
